#footer {
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  padding: 0 30px;

  .boxFooter {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

    // @media screen and (max-width: 500px) {
    //     display: none;

    // }
  }
}
