@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Source+Code+Pro:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Tangerine:wght@700&display=swap");

/* ************************ Variables ********************************* */
$font-title: "Josefin Sans";
$manuscrite: "Tangerine";
$color1: #324a5f;
$color2: #ccc9dc;
$color3: #1b2a41;
$color4: #bbb5f5;
$color5: #8390fa;

/* *************************************Barre de navigation **************************** */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 120px;

  .clock {
    width: 100%;
    color: $color4;
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    padding: 8px 0;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color4;
    opacity: 0.9;
    box-shadow: 2px 2px 6px rgb(69 69 69 / 30%);
    height: 80px;
    width: 100%;

    .navbar--logo {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1.5rem;
      animation: rotate 0.7s ease-in-out 0.5s;
      justify-content: left;
    }

    .navbar--menu-list {
      display: flex;
      font-family: $font-title;
      font-size: 1.5rem;
      align-items: center;
      padding: 5px;
      padding-right: 10px;
    }

    .navbar--link-item {
      justify-content: space-around;
      padding: 5px 10px;

      a {
        &.nav-link-active {
          color: magenta;
        }
      }
    }

    .word_menu {
      display: none;
    }
  }

  .navbar--logo-holder {
    pointer-events: none;
  }

  @media screen and (max-width: 880px) {
    .clock {
      .txt {
        display: none; //pour que le plus long texte disparaisse
      }
    }

    nav {
      opacity: 1;

      .word_menu {
        display: inline-block;
        padding: 10px;
        margin-left: 10px;
        height: 20px;
      }

      a {
        color: white;
      }
    }

    //pour que le logo devienne le menu et soit cliquable
    .navbar--logo-holder {
      pointer-events: initial;
    }

    //pour que le menu disparaisse
    .navbar--menu-list {
      &.hidden {
        display: none;
      }

      &.visible {
        display: flex;
        top: $header_height;
        left: 0;
        right: 0;
        position: fixed;

        li {
          padding: 8px;
          background: $color1;
          width: 100%;
          box-shadow: 1px 4px 6px 2px rgba(96, 176, 205, 0.792);
        }
      }

      flex-direction: column;
      height: 200px;
    }

    // @media screen and (max-width: 500px) {
    //     nav {
    //         .navbar--link-item {
    //             justify-content: space-around;
    //             padding: 5px 10px;
    //         }

    //     }
    // }
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(0rem);
  }
}

/* ***************************** Clock *********************** */
.clock {
  font-family: $manuscrite;
  display: flex;
  justify-content: center;
}

/* ***************************** Media query *********************** */
@media screen and (max-width: 500px) {
  .navbar--menu-list {
    display: flex;
    flex-direction: column;
    height: 200px;
  }
}
