@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Tangerine:wght@700&display=swap");

/* ******************************Variables ************************************* */

$font-title: "Josefin Sans";
$manuscrite: "Tangerine";
$color1: #c7c1e9;
$color2: #ccc9dc;
$color3: #9bb6ff8d;
$color4: #95a2ff;
$color5: #324a5f;
$color6: #1b2a41;
$color7: #0c1821;

/* **************************** Réglages généraux ******************************* */

.btn {
  @include contactBtn;

  &.btn-white {
    background-color: rgb(255, 254, 166);
  }
}

.illusDip {
  width: auto;
  // height: 300px;
}

p {
  font-size: 1.2rem;
}

/* ********************************* Section ************************************ */

#presentation {
  display: flex;
  align-items: center;
}

#languages {
  display: flex;
  justify-content: center;
}

#presentation,
#search,
#journey {
  background: lighten($color3, 10%);
}

section {
  position: relative;
  // TODO : Vérifier le min-width (peut poser probleme)
  // min-width: 1400px;
  margin: 0 auto;
  padding: 50px 80px;
  scroll-snap-align: start;
  min-height: $section_height;

  .container_troiscol {
    .partieTexte {
      display: flex;
      flex-direction: column;
    }
    .partieIllus {
      .image {
        @include imageSizing(650px);
        margin: auto;
        right: 0;
      }
    }
  }

  .container {
    // height: $section_height;
    gap: 40px;
    align-items: center;
    display: grid;
    grid-template-columns: 40% auto;

    /* ************** Coté texte ***************** */
    .partieTexte {
      font-size: 1.4rem;
      margin: auto 0;
      padding: 5px;

      .citation {
        font-style: italic;
        font-weight: 700;
      }

      .citation,
            // .boxes,
            .box {
        text-align: justify;
        margin: 20px 0;
        padding: 10px;
        border-radius: 30px;
        font-weight: 400;

        h3 {
          color: $color4;
          margin-bottom: 14px;
        }

        .p1,
        .p2,
        .p3 {
          padding: 10px;
          margin: 10px;
          justify-content: center;
          align-items: center;
        }
        .row {
          margin-left: 40px;
          font-weight: 500;
        }
      }

      .title {
        // text-align: left;
      }
    }

    /* ***************** Coté image ****************** */
    .partieIllus {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .nom,
      .prenom {
        text-align: center;
        font-size: 3.2rem;
      }

      .illusParcours {
        transform: rotateY(180deg);
      }

      .image {
        @include imageSizing(650px);
        max-width: 100%;
        // height: auto;
      }
    }
  }

  .pageUnique {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: $section_height;

    .boxes {
      width: 80%;
      border-radius: 25px;
      margin: 10px;
      text-align: justify;
      padding: 20px;

      p {
        font-weight: 200;
        font-size: 1.4rem;
      }
    }

    .illusDip {
      @include imageSizing(300px);
      align-items: center;
    }
  }

  /* **************** Pairs et impairs ****************** */
  // &:nth-child(even) {
  //     .container {
  //         display: grid;
  //         grid-template-columns: 40% auto;
  //         height: $section_height;
  //         gap: 15px;
  //         align-items: center;
  //     }

  //     background: $color3;
  // }

  // &:nth-child(odd) {
  //     .container {
  //         display: grid;
  //         grid-template-columns: 60% auto;
  //         gap: 10px;
  //     }

  //     background: white;
  // }

  /* **************** Titres ****************** */
  .title {
    font-family: $font-title, sans-serif;
    font-size: 5rem;

    &.title2 {
      font-family: "Tangerine", "Dancing Script";
      font-size: 4.5rem;
      padding: 10px;
      text-align: center;
    }

    &.title3 {
      //background: $color3;
      padding: 5px;
      border-radius: 20px;
      font-size: 2.5rem;
      color: rgb(255, 238, 80);
    }
  }
}

/* ************1er Palier******************* */
@media screen and (max-width: 1200px) {
  section {
    min-width: 90%;
    scroll-snap-align: unset;

    // &:nth-child(even),
    // &:nth-child(odd) {
    .container {
      grid-template-columns: 1fr auto;
      gap: 5px;
      margin: auto;
      text-align: center;
      display: flex;
      flex-direction: column;

      .box {
        width: 70%;
      }

      .partieIllus {
        .image {
          // @include imageSizing(500px);
        }
      }

      .timeline {
        width: 760px;
        margin-top: 20px;
      }
    }
  }

  // }
}

/* ************2ème Palier******************* */
@media screen and (max-width: 850px) {
  section {
    width: auto;
    // scroll-snap-align: unset;
    min-height: unset;
    font-size: 1rem;

    .container {
      .partieTexte {
        .timeline {
          width: 500px;
          margin-top: 10px;

          &::before {
            z-index: 0;
          }
        }

        .flag {
          background: white;
          z-index: 20;
        }

        .desc {
          background: rgb(255, 249, 192);
          z-index: 40;
        }
      }

      .partieIllus {
        .portrait {
          align-items: center;
        }
      }
      p {
        width: 90%;
      }
    }

    .title {
      font-size: 3rem;
      text-align: center;

      &.title2 {
        font-size: 2.5rem;
      }

      &.title3 {
        font-size: 1rem;
        // width: 80%;
      }
    }

    #footer {
      display: none;
      z-index: -10;
    }
  }
}

/* ************3eme Palier******************* */
@media screen and (max-width: 500px) {
  section {
    width: auto;
    min-width: 90%;
    font-size: 0.7rem;
    .citation {
      width: 100%;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      min-height: $section_height;

      .timeline {
        max-width: 300px;
        margin-top: 20px;
      }

      .partieTexte {
        .desc {
          border: 2px solid purple;
        }
      }
    }
  }

  .title {
    &.title3 {
      font-size: 1rem;
      padding: 12px;
    }
  }

  #footer {
    display: none;
    z-index: -10;
  }
}
