.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(
    circle at bottom,
    #81e8f6,
    #76deef 10%,
    #055194 80%,
    #062745 100%
  );
}

.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: 2;
}

.ball:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-160px);
  transform: rotateX(90deg) translateZ(-160px);
  z-index: 1;
}

.ball.plain {
  background: black;
}

.ball.plain:before,
.ball.plain:after {
  display: none;
}

.ball.bubble {
  &.bubble0 {
    width: 120%;
    height: 120%;
    background: radial-gradient(
      circle at 50% 55%,
      rgba(142, 185, 131, 0.9),
      rgba(142, 185, 131, 0.9) 40%,
      rgba(150, 201, 148, 0.8) 60%,
      rgba(33, 169, 47, 0.594)
    );
  }
  &.bubble1 {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle at 50% 55%,
      rgba(195, 215, 255, 0.9),
      rgba(195, 215, 255, 0.9) 40%,
      rgba(225, 238, 255, 0.8) 60%,
      rgba(43, 130, 255, 0.4)
    );
  }

  &.bubble2 {
    text-align: center;
    width: 80%;
    height: 80%;
    background: radial-gradient(
      circle at 50% 55%,
      rgba(236, 126, 246, 0.9),
      rgba(233, 179, 252, 0.9) 40%,
      rgba(225, 162, 249, 0.8) 60%,
      rgba(203, 13, 255, 0.4)
    );
  }

  &.bubble3 {
    text-align: center;
    background: radial-gradient(
      circle at 50% 55%,
      rgba(247, 237, 134, 0.9),
      rgba(243, 231, 105, 0.9) 40%,
      rgba(255, 232, 101, 0.8) 60%,
      rgba(255, 235, 13, 0.4)
    );
  }

  &.bubble4 {
    text-align: center;
    width: 60%;
    height: 60%;
    background: radial-gradient(
      circle at 50% 55%,
      rgba(157, 253, 203, 0.9),
      rgba(157, 253, 203, 0.9) 40%,
      rgba(157, 253, 203, 0.8) 60%,
      rgba(9, 246, 191, 0.4)
    );
  }

  &.bubble5 {
    text-align: center;
    width: 70%;
    height: 70%;
    background: radial-gradient(
      circle at 50% 55%,
      rgba(249, 132, 78, 0.9),
      rgba(247, 123, 65, 0.9) 40%,
      rgba(253, 140, 87, 0.8) 60%,
      rgba(247, 132, 38, 0.4)
    );
  }

  -webkit-animation: bubble-anim 2s ease-out infinite;
  animation: bubble-anim 2s ease-out infinite;
}

.ball.bubble:before {
  -webkit-filter: blur(0);
  filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(
    circle at 130% 130%,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 46%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.8) 58%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg)
    rotateX(10deg);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}

.ball.bubble:after {
  display: block;
  background: radial-gradient(
    circle at 50% 80%,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 74%,
    white 80%,
    white 84%,
    rgba(255, 255, 255, 0) 100%
  );
}

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 15px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05);
  }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9);
  }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05);
  }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9);
  }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02);
  }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98);
  }

  97%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.texte {
  content: "";
  top: calc(50% - 45px);
  left: calc(40% - 55px);
  position: absolute;
  font-weight: bold;
  font-size: 1.5rem;

  // &.bubble2 {
  //     top: 30%;
  //     left: 50%;
  // }
}
