$font-title: 'Josefin Sans';
$manuscrite: 'Tangerine';
$color1: #da627d;
$color2: lightgreen;
$color3: #78ffd6;
$color4: #0E7C7B;

/* ********************************* the Timeline  ************************************ */
#journey {
    font-family: 'Josefin Sans', 'Lucida Sans';
    font-size: 1.3rem;
}

span {
    .time {
        color: black;
        padding: 5px;
        margin: 5px;
    }
}

.timeline {
    position: relative;
    width: 760px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: " ";
    display: block;
    width: 8px;
    height: 98%;
    margin-left: -3px;
    background: rgb(171, 22, 220);
    background: -moz-linear-gradient(top,
            rgba(66, 242, 231, 0) 0%,
            rgb(80, 80, 80) 8%,
            rgb(80, 80, 80) 92%,
            rgba(80, 80, 80, 0) 100%);

    background: -ms-linear-gradient(top,
            rgba(150, 247, 216, 0) 0%,
            rgb(80, 80, 80) 8%,
            rgb(80, 80, 80) 92%,
            rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom,
            rgba(77, 198, 168, 0) 0%,
            rgb(209, 145, 255) 8%,
            rgb(63, 64, 64) 92%,
            rgba(248, 248, 249, 0) 100%);

    z-index: 5;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
}

.flag li {
    position: relative;
    display: inline;
    background: rgb(180, 42, 218);
    padding: 6px 8px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(155, 155, 155, 0.711),
        0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
        0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -90px;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(206, 57, 251);
    z-index: 10;
}

.direction-r .flag:before {
    left: -90px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: $color1;
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: $primary;
}

.desc {
    margin: 1em 0.75em 0 0;
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
    .timeline {
        width: 100%;
        padding: 3em 0 1em 0;

        // &::before {
        //     z-index: -10;
        //     background-color: #0E7C7B;
        // }
    }

    .timeline li {
        padding: 1em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        text-align: center;
        padding: 10px;
    }

    .flag {
        background: rgb(255, 255, 255);
        // z-index: 55;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: " ";
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -19px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(134, 48, 160);
        z-index: -10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255, 255, 255);
        border-width: 8px;
        pointer-events: none;
        padding: 10px;
        z-index: -10;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
        z-index: 10;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .desc {
        max-width: 100%;
        background: rgb(245, 245, 245);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        z-index: 30;
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;

        z-index: 15;
    }
}

@mixin media-min ($_min-width) {
    @media screen and (min-width: 500px) {
        & {
            max-width: 500px
        }
    }

    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }
}