/* ================ Reglages généraux ======================== */
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
  color: $text;
  // font-size: 1.5rem;

  a {
    color: $color3;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;

    &.btn {
      font-size: 1.5rem;
    }
  }

  h1,
  h2,
  h3,
  h4,
  ul,
  p {
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }

  .vertical-flex {
    display: flex;
    flex-direction: column;
  }

  .flex-start {
    justify-content: flex-start;
  }

  .flex-center {
    justify-content: center;
    align-items: center;
  }

  .flex-end {
    justify-content: flex-end;
    align-items: center;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#app-content {
  // scroll-snap-type: y mandatory;
  overflow-y: scroll;
  position: relative;
  height: $section_height;
  top: $header_height;
}
