//Bouton
@mixin contactBtn {
    background-color: $primary;
    display: flex;
    padding: 0px 30px;
    margin-top: 20px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 1px 1px 2px;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    border: 1px solid purple;

    &:hover {
        background: darken($primary, 25%);
        transition: all 0.3s ease;
    }

    &:active {
        background: darken($color6, 25%);
    }
}

@mixin imageSizing ($height) {
    width: auto;
    max-height: $height;

    // &.portrait {
    //     width: auto;
    //     height: 500px;
    // }

}
