$header_height: 120px;
$section_height: calc(100vh - $header_height);

/* =======================Def couleurs ====================== */
$color1: #324a5f;
$color2: #ccc9dc;
$color3: #1b2a41;
$color4: #0c1821;
$color5: #c7c1e9;
$text: #262626;
$primary: #f6ec85;